/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_ru.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        cyrillic_layer {
            bindings = <&to 3>;
            key-positions = <38 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
            // | CTRL |  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  |  '   |
            // | SHFT |  X  |  C  |  D  |  V  |  Z  |   |  K  |  H   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB        &kp Q  &kp W  &kp F             &kp P  &kp B        &kp J    &kp L  &kp U          &kp Y    &kp F10   &kp APOS
&kp BACKSPACE  &kp A  &kp R  &kp S             &kp T  &kp G        &kp M    &kp N  &kp E          &kp I    &kp O     &kp ESCAPE
&kp LSHFT      &kp X  &kp C  &kp D             &kp V  &kp Z        &kp K    &kp H  &kp COMMA      &kp DOT  &kp FSLH  &to 3
                             &kp LEFT_CONTROL  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RIGHT_GUI
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB        &kp F1        &kp F2        &kp F3        &kp F4        &kp F5       &kp F6   &kp F7    &kp F7    &kp F8        &kp F9    &kp CAPS
&kp BACKSPACE  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5       &none    &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp DOWN  &kp ESCAPE
&kp LSHFT      &kp NUMBER_6  &kp N7        &kp N8        &kp N9        &kp N0       &trans   &trans    &trans    &trans        &trans    &kp RIGHT_ALT
                                           &none         &trans        &kp SPACE    &kp RET  &trans    &kp RCMD
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&kp TAB        &kp TILDE  &kp DOLLAR  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PRCNT    &kp CARET      &kp DOUBLE_QUOTES  &kp LESS_THAN  &kp GREATER_THAN  &kp F11          &kp BSPC
&kp BACKSPACE  &kp UNDER  &kp COLON   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE     &kp HASH       &kp EQUAL          &kp MINUS      &kp PLUS          &kp EXCLAMATION  &none
&kp LSHFT      &kp F12    &kp AMPS    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp AT       &kp SEMICOLON  &kp SLASH          &kp STAR       &kp BACKSLASH     &kp GRAVE        &none
                                      &kp DELETE            &trans                 &kp SPACE    &kp RET        &trans             &kp RCMD
            >;
        };

        Cyrillic {
            bindings = <
&trans  &kp RU_CYRILLIC_SHCHA  &kp RU_CYRILLIC_TSE  &kp RU_CYRILLIC_KA  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                 &trans               &trans              &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans                 &trans               &trans              &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                                                    &trans              &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
